*{
	margin: 0;
	padding: 0;
}

body{
	background-color: white;
}

p,h2{
	font-family: Arial, Helvatica, sans-serif;
	font-size: 11px;
}

a{
	text-decoration: none;
	color: #0a6395;
}

li{
	list-style: none;
}

#content{
	margin: 50px 300px;
	background-color: #e6f3fb;
	width: 450px;
	height: 800px;
}

#blogroll{
	margin: 10px;
}

#blogroll h2{
	padding-top: 10px;
	font-size: 13px;
}

#blogroll_content{
	width: 430px;
	height: 240px;
	background-color: #FFF;
	border-top-style: solid;
	border-weight: 2px;
	border-top-color: #ffa500;
}

#blogroll_image{
	margin: 10px;
	width: 430px;
	height: 100px;
}

#image{
	border: 1px solid #cccccc;
	width: 254px;
	height: 102px;
	float: left;
}

#blogroll_image img{
	width: 250px;
	height: 100px;
	padding: 1px;
}

#blogroll_text{
	float: right;
	width: 100px;
	height: 100px;
	margin-right: 50px;
}

#blogroll_text h2{
	color: #0a6395;
}

#blogroll_text p{
	word-spacing: 3px;	
}

#p_special{
	font-style: italic;
}

#blogroll_list{
	background-color: #faf0bf;
	margin-top: 5px;
	height: 120px;
	
}

#blogroll_list ul{
	margin-left: 10px;
}

#blogroll_list ul li{
	padding: 8px;
	border-top-style: solid;
	border-top-color: #faf0cc; 
	border-bottom-style: solid;
	border-bottom-color: #faf0cc;
}

#horoscopes{
	margin-left: 10px;
}

#horoscopes h2{
	padding-top: 10px;
	font-size: 13px;
}

#horoscopes_content{
	width: 430px;
	height: 215px;
	background-color: #FFF;
	border-top-style: solid;
	border-weight: 2px;
	border-top-color: #ffa500;
}

#horoscopes_content img{
	width: 130px;
	height: 150px;
}

#libra_content{
	float: right;
	width: 240px;
	height: 150px;
	margin-right: 50px;
	line-height: 17px;
	
}

#libra-content #date{
	background-color: #808080;
}

#read_content{
	width: 430px;
	height: 60px;
	background-color: #f4f4ec;
}

#read_text{
	width: 150px;
	height: 40px;
	float: left;
	margin-left: 30px;
	padding-top: 20px;
}

#read_content img{
	float: right;
	width: 105px;
	height: 60px;
	
}

#mobile{
	margin-left: 10px;
	margin-top: 10px;
}

#mobile h2{
	padding-top: 10px;
	font-size: 13px;
}

#mobile img{
	width: 150px;
	height: 100px;
	float: right;
}

#mobile_content{
	background: white;
	width: 430px;
	height: 100px;
	border-top-style: solid;
	border-weight: 2px;
	border-top-color: #ffa500;
}

#text_content{
	float: left;
	height: 85px;
	width:150px;
	padding: 20px 5px 5px 0px;
	margin-left: 30px;
	word-spacing: 8px;
}

#text_content a{
	padding-top: 10px;
}

#copetitions_content{
	border: #dadada solid 1px;
	background-color: white;
}

#copetitions_content ul{
	margin: 5px;
}

#copetitions_content ul li{
	padding: 2px;
}

#copetitions_content ul li a{
	font-size: 13px;
	color: #0a6395;
}

#copetition{
	border-top: #cccccc solid 1px;
	margin-top: 10px;
	margin-right: 10px;
}